body{
    background-color: rgb(60, 255, 0);
}
h1{
    background-color: rgb(35, 206, 100);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 120px;
    
}
button{
    background-color: rgb(177, 235, 172);
    width: 100px;
    border-radius: 17px;
    align-items: center;
}
.uyuy{
    background-color:rgba(36, 202, 30, 0.616);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.isa{
    display: flex;
        font-size: 20px;
        background-color: rgb(117, 228, 89);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 100px;
}
.nini{
    background-color: rgb(173, 233, 183);
    display: flex;
    margin-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


    
}
.oioi{
    width: 400px;
    border-radius: 17px;
    
}